[2016-03-04 11:20] daniel-jackson95 opened #4 "Add support for Cordova 6"
Currently doesn't work for Cordova 6.

[2016-03-04 11:31] mattrayner commented on #4
Cordova has changed the `appdelegate.m` contents - we need to investigate how to add a navigation controller

[2016-04-21 10:30] mattrayner opened #6 "Add support for orientation locking"
Some users would like to lock their Vuforia orientation. We need to find a solution that works robustly without adding bloat.

[2016-04-21 10:33] mattrayner commented on #4
We will look into this for a future release - possibly 2.0

[2016-04-22 00:07] mattrayner commented on #6
Following this conversation:

[2016-04-22 09:03] #6 closed

[2016-05-15 09:41] nleclerc opened #8 "Why use GPL license ?"
Hi,

i'd be interested to use thisplugin (and therefore contribute to it) but i can't since it's GPLed and my project is closed source.
What's the rationale for the license choice ?

[2016-05-16 08:29] mattrayner commented on #8
Hi Nicolas,
 Initially we were being very cautious about the license - we were concerned that as the plugin contains Vuforia along with some snippets of sample code that a permissive license may have been on breach. We've checked more thoroughly now and to the best of our ability can't see any issues with making the project the more permissive MIT license.

We'll look at updating all the respectiv

[2016-05-16 08:38] #8 closed

[2016-05-16 08:57] nleclerc commented on #8
Wow !
Didn't expect you to react so quickly !
Thanks mate :-D

[2016-05-16 09:01] mattrayner commented on #8
You're welcome! Have fun with it and if you have any issues, jump back omn here and we'll try to help :D

[2016-05-16 09:26] mattrayner commented on #8
@nleclerc FYI we've successfully REVd the version number and the new plugin is on NPM

I though it happened earlier but travis cried...

[2016-05-16 10:07] nleclerc commented on #8
Cool !
Thanks a lot.

On Mon, 16 May 2016 at 11:26 Matt Rayner <notifications@github.com> wrote:

[2016-05-22 10:23] Stending opened #15 "Path problem for the .xml file?"
Hi, I've been experiencing many problem with the reading of the xml database file when calling the startVuforia() method, and I think there is an issue.
It doesn't work with the StoneAndChips.xml sample, and I don't know where to add my own xml file.

Thank you!

[2016-05-22 18:06] mattrayner commented on #15
Hi Mattheiu,
 When you say you're experiencing issues, what exactly do you mean?

Is there an error message you can give me or any more information?

Thanks,
Matt

[2016-05-23 09:13] mattrayner commented on #4
@dsgriffin has come up with the below solution to `corodva@6.0` and `cordova-ios@4.0` support

* Enable Bitcode is already set to no
* Minimum deployment target is iOS 8

---

In `AppDelegate.m`:
First, Cordova CDVPlugin needs to be explicitly imported at the top of the file `#import <Cordova/CDVPlugin.h>`

---

Secondly, didFinishLaunchingWithOptions needs to be replaced with
[code]

[2016-05-23 10:42] mattrayner opened #16 "Cordova iOS 4.* orientation locking issue"
The recent update to `cordova-ios@4.*` breaks our previous orientation locking code and advice. We should try and find a solution that allows for reliable orientation locking in iOS

[2016-05-23 10:51] mattrayner commented on #16
Appears to be related to this:

[2016-05-23 11:26] mattrayner commented on #4
Fixed with PR [#17]

[2016-05-23 11:26] #4 closed

[2016-05-23 15:19] robersant commented on #15
Hi, how're you? I've a similar problem, but only when I try to add my own Vuforia Database. The StoneAndChips.xml works perfect, but when I try to use my own XML the plugin returns the error "Failed to load tracker data". Im locating my XML in the same folder that is StoneAndChips.xml, and i've tried with two different XMLs, but the only one that works is StoneAndChips.xml. Can be? Thanks!!

[2016-05-23 15:27] mattrayner commented on #15
@robersant I saw you created a comment then it was gone - did you find a solution to your issue?

[2016-05-23 15:46] robersant commented on #15
​
Hi Matt! Yes, i found the solution just in time: i've to update the
plugin.xml too, replacing the name of the resources (DAT and XML file).

[image: Inline image 2]

Thanks anyway!

On Mon, May 23, 2016 at 12:27 PM, Matt Rayner <notifications@github.com>
wrote:

[2016-05-23 15:55] mattrayner commented on #15
Hi @robersant & @Stending,
 So that nothing breaks if you update the `cordova-plugin-vuforia` plugin we recommend that you reference your data and XML files from you app's `config.xml` file like so:

[code]

In the root of your projects you shouyld create a `targets` directory containing your two files.

We'll update the [README](README.md) to include this information

[2016-05-23 16:34] mattrayner commented on #15
We'll look at updating the README file to include the above instructions

[2016-05-24 10:25] Stending commented on #15
Well, the .xml file isn't loaded. And your exemple with StoneAndChips.xml
doesn't work too..

I have no special error, but if you go down in the Objectice-C, you can
find an error about file reading. (Can't show you which now).
I also tried to test if the file received in the startVuforia method exist,
and no matter where I put the file, it says that it doesn't exist..

Thank you.
Le 22 mai 2016 2

[2016-05-24 10:28] mattrayner commented on #15
What version of cordova-ios are you using? The latest version (4.1.*) has some differnet setup instructions - we updated our README with some information that might help?

[2016-05-24 12:13] dsgriffin commented on #15
Hi @Stending, there's an example project here: https://github.com/dsgriffin/cordova-vuforia-example. Does this example project work for you?

[2016-05-24 21:23] nleclerc opened #18 "Extracting Vuforia source code from plugin (to stay abreast of the Vuforia license)"
I've noticed that the `build/include/QCAR` and `src/vuforia/include/QCAR` contain the exact same files.
I recon that the build folder could be remove, what do you think ?

[2016-05-25 08:51] mattrayner commented on #18
Hi @nleclerc,
 You're quite possibly right. I think this has happened because the Android and iOS sections of the plugins were developed within the same team but by two different people.

My concern with just completely ripping out the build folder at the moment is that we **may** break some people's set ups. Our current iOS instructions involve pointing XCode specifically at the build folder.

We

[2016-05-25 08:59] daniel-jackson95 commented on #18
I think that moving `src/vuforia/*` into the `build` folder is probably the best solution.
We just spoke about removing the `build` folder, but that could possibly break any previous projects where xcode links to files in that directory (and then stops working).

[2016-05-25 09:53] nleclerc commented on #18
Why not just declare the source files so that they are properly added to the code project ?
There shouldn't be the need for any manual configuration really.

I think the ideal solution would be to move vuforia files outside of this plugin.
I'm not even sure the licensing allows redistribution of the sdk.

[2016-05-25 10:25] mattrayner commented on #18
Well, with Android that works fine currently - it's all added automatically - the issue is with iOS and Xcode... Having read the developer agreement here:

[2016-05-25 12:17] remib opened #19 "Android installation instructions?"
Are there any instructions to use the plugin with Android or is this still in development?

[2016-05-25 12:21] dsgriffin commented on #19
@remib Hey, Android installation is the part upto where the iOS steps begin; just add the plugin, then the android platform, the Javascript and run it on your Android device. For an example see: https://github.com/dsgriffin/cordova-vuforia-example

[2016-05-25 12:46] remib commented on #19
Thanks, all working.

It might be worth just adding a section to the readme explaining that there are no additional steps for Android to avoid any confusion!

[2016-05-25 12:53] remib opened #20 "Support for Cloud database"
Sorry to open another issue.

Correct me if I'm wrong, but with this plugin would I need to submit an App Update to a live app in the App Stores to add new targets? Is it possible to use a cloud database to manage targets?

[2016-05-25 12:55] dsgriffin commented on #19
Glad to hear, and sure, we'll look into making the readme a little clearer r.e. Android usage

[2016-05-25 12:55] #19 closed

[2016-05-25 13:35] mattrayner commented on #20
Hi Remi,
 At the moment there's no support for the Vuforia cloud database service. This plugin was created for a brochure recognition system that detected certain pre-defined pages.

At the moment if you want to change targets it would require an update on the app store.

At the moment this is out of scope for the current plugin. If you wanted to get around this, you could either create a pull req

[2016-05-25 13:35] #20 closed

[2016-05-25 13:36] mattrayner commented on #15
Hi @Stending, did you get anywhere with this?

[2016-05-25 14:12] remib commented on #20
No problem, I just thought I'd ask before moving forward. Thanks,

[2016-05-25 14:13] mattrayner commented on #20
You're welcome 😃

[2016-05-25 15:32] Stending commented on #15
I didn't have the time to continue testing, I'll be able to check all this
friday!
And I use Cordova ios 4.1.1, so maybe this is the problem.

Thank you for your fast answers, i'll keep you informed!
Le 25 mai 2016 3:36 PM, "Matt Rayner" <notifications@github.com> a écrit :

[2016-05-25 16:03] mattrayner commented on #15
Thanks for letting us know, we've never actually tested this on 4 😞

If it's a small issue I cant see any reason we shouldn't be able to work out a fix **Famous Final Words**

Let us know how you get on 👍

[2016-05-26 08:56] nleclerc commented on #18
Well i'm not really sure but for what i understand, the dev agreement allows distribution of the engine so that the software can work but it doesn't seem to cover the case of the associated source and header files.

The only way to be sure would be to contact vuforia and ask.
As recent court cases have proven, it might not be that simple :-)

I looked into making a plugin that automatically downlo

[2016-05-26 11:45] mattrayner commented on #18
We think we've come up with a slightly different solution to prevent us falling foul of the Vuforia license.

Our current thinking is you download the Android and iOS SDK zips from Vuforia (thus complying to their license) and then we run a script to move them into a location Cordova can get at them.

Our script currently looks like this:

[code]

(this is obviously REALLY early) and we haven't ev

[2016-05-26 11:48] mattrayner commented on #18
This will be a breaking change, so we will be moving this to a 2.0 milestone.

[2016-05-26 14:02] mattrayner commented on #18
It looks like you can only download Vuforia V5 from the developer site... The current plugin runs on 4 - it looks like a change to 5 would require a re-write of the plugin itself unless someone can find the place where 4 lives?

[2016-05-27 12:02] Stending commented on #15
Okay so, I managed to make the StoneAndChips example work, that was just a mistake of mine, but I'm still not able to use my own database.

I included the .xml and .dat in a targets folder in the root, and added them in my config.xml file just like you said to, but it just doesn't work.
When I look at the assets files for android, I just see the StonesAndChips files added by the plugin.xml, but my

[2016-05-27 12:02] remib opened #22 "Text panel overlays close button on iPhone 5 in portrait orientation"
Hi, me again with a genuine issue this time!

While testing the App on my iPhone 5, I'm unable to close the scanning view manually because the text panel is overlaying the close button. I presume this would also be the case on Android devices with a similar screen size. See attached image.

![img_2173](https://cloud.githubusercontent.com/assets/242919/15607512/3edbd5bc-240b-11e6-87e7-dfc9749d902e.

[2016-05-27 12:05] mattrayner commented on #22
Hi @remib, thanks for reporting this - we'll take a look at this and get back to you :+1:

[2016-05-27 15:12] mattrayner commented on #18
I've temporarily set this as 'wont fix' - we will update this at a later date. We will not consider this as a pressing issue right now though

[2016-05-27 15:22] mattrayner commented on #22
We've published version 1.1.1 with this fix

[2016-05-27 15:32] remib opened #24 "Custom Data files not being copied to relevant directories"
I've followed the instructions to use my own data however I can't get it to work. The .dat and .xml files are not copied to the directories on both iOS and Android. I'm using Cordova 6.1.1 along with the latest version of Ionic framework. The plugin works with the test data.

[2016-05-27 15:33] mattrayner commented on #24
Duplicate of #15 I think - we are currently testing this

[2016-05-27 15:33] #24 closed

[2016-05-27 15:36] mattrayner opened #25 "Android locked to landscape"
Android appears to be locked to landscape in the Vuforia controller

[2016-05-27 15:47] remib commented on #24
Sorry didn't see that!

[2016-05-27 15:47] mattrayner commented on #24
It's cool 😀

[2016-05-27 15:48] mattrayner commented on #15
Update: We are currently testing this - once we have a working solution we'll update you all 👍

[2016-06-02 13:18] dsgriffin commented on #15
@Stending @remib Hey, we're just about to update the docs to show how to use custom data files by including a `targets/` folder inside `www/` & changing some paths - here's a working example: https://github.com/dsgriffin/cordova-vuforia-example

[2016-06-02 14:12] remib commented on #15
Excellent! Perfect timing as we're looking to release in the next few days. Thanks guys.

[2016-06-02 14:38] #15 closed

[2016-06-02 14:39] mattrayner commented on #15
Let us know if you have any more issues and we'll re-open

[2016-06-03 11:07] #25 closed

[2016-06-06 12:30] remib opened #29 "Failed to initialise on Android 6"
We are getting 'Failed to initialize Vuforia' on all devices running Android 6, latest cordova (but cordova.js is 5.1.1). The plugin works on devices running Android 5 and below. Have you had any success using this plugin with Android 6?

Edit: Manually allowing the camera permission in Android settings allows the plugin to work but obviously that is not ideal. Is there some way to force the plugi

[2016-06-06 13:40] remib commented on #29
Brilliant, thanks a lot!

[2016-06-07 13:30] #29 closed

[2016-06-09 16:02] mattrayner opened #36 "Improve BitHound score"
We've recently added some new features with 2.0.0 which have lowered out BitHound score to 96.

We should do some small refactors to bring it back in-line with the expected JS styles.

[2016-06-10 11:03] mattrayner opened #38 "Travis auto-deployments are broken"
Travis auto-deployments to NPM have broken - we should look into fixing this.

[2016-06-10 11:05] mattrayner opened #39 "We should add issue and PR templates, along with a CONTRIBUTING file"
The project could benefit from having templates for issues & PRs

We should look at a CONTRIBUTING file too

[2016-06-10 11:05] mattrayner commented on #36
There is currently a bug with BitHound that we are investigating with the BitHound team.

[2016-06-10 13:28] #39 closed

[2016-06-10 14:13] mattrayner commented on #38
Once a build has been run, we'll close this - it **should** have been fixed in #43

[2016-06-10 14:14] #38 closed

[2016-06-10 15:45] #36 closed

[2016-06-14 08:40] Stending opened #49 "Overlay devices icon"
Hi!
I'm trying to improve a bit the vuforia overlay, by making it a bit customizable (now that we have an options object, we can add many optionals parameters).
Do you need to keep the devices icon? It doesn't look essential, and doesn't fit well with what I'm doing.

Thank you!

[2016-06-14 09:03] mattrayner commented on #49
The devices icon is kind of an artefact... It was added as a 'scan a page with this icon on it' kind of thing

It's not essential, but just removing it wholesale seems a bit permanent... We could make an options flag that allows it to not be added to the screen?

[2016-06-14 17:08] Stending commented on #49
Okay, now the devices icon is optional, and disabled by default! I have some changes to do, I'll do my pull request soon.
Thank you!

[2016-06-15 15:12] Stending opened #51 "Status bar doesn't show on landscape mode on iOS"
Hi,
On an Ipod touch, when vuforia is running, the status bar is showing in portrait mode, but not in landscape.
It looks like this is a common problem with the view controllers.

Ideally, we need to fix the bug to show the status bar on landscape mode, and why not make an option to hide or not the status bar on the vuforia plugin.

On my side, I'm actually hiding the bar on the vuforia plugin, we

[2016-06-15 15:38] mattrayner commented on #51
If you could create a PR that would be great - for now I'd rather have consistent behaviour - we can look at making this a config flag in the future :+1:

[2016-06-15 16:42] #51 closed

[2016-06-15 16:46] mattrayner opened #53 "BitHound Score Dropped"
Just an internal note to refactor our JS - I like a 100 BitHound score 😝

[2016-06-15 20:57] #53 closed

[2016-06-15 21:23] mattrayner commented on #18
I've set this to a 4.0.0 ticket - this is so we don't just forget about it

Well, specifically so **I** don't forget about it (brain like a sieve)

[2016-06-15 23:43] mattrayner opened #56 "Renaming `dismiss` to `stopVuforia`"
​
## Expected Behavior
If the user calls `startVuforia(...);` to begin a Vuforia session, should they call `stopVuforia();` to end it?
​
## Current Behavior
The user current has to call `startVuforia(...);` to begin and `dismiss();` to end it.
​
## Possible Solution
Rename `dismiss` to `stopVuforia`.
​
## Context
This just seems a little strange and inconsistent. It would be nice if the method nam

[2016-06-16 09:32] mattrayner commented on #56
What do you all think? @dsgriffin @nleclerc @Stending

[2016-06-16 09:48] dsgriffin commented on #56
Sounds good to me 👍 could be added to #57

[2016-06-16 09:48] mattrayner commented on #56
That's a good shout...

[2016-06-16 10:09] mattrayner opened #58 "Test the plugin works on iOS 10"
We need to make sure this works on iOS 10

[2016-06-16 10:20] nleclerc commented on #56
If we're renaming things why not go for just `start` ?
It's `navigator.VuforiaPlugin.startVuforia` after all, a bit redundant if you ask me.
We could then have `start` and `stop`.
What do you say ?

[2016-06-16 11:39] mattrayner opened #59 "dismiss() method doesn't provide any user feedback"
​
## Expected Behavior
When you call `dismiss(...)`, you should be able to include a callback that gets called when it successfully happens (or if it doesn't happen).
​
## Current Behavior
When you call `dismiss(...)​`, nothing happens (as far as Cordova is concerned). Which, wouldn't be a problem if we could assume it always works. However, there is a situation where a `dismiss()` call will do no

[2016-06-16 11:42] mattrayner commented on #56
@nleclerc I agree with what you're saying for sure, maybe `start` and `stop` lack some context?

`startSession` and `stopSession` night be better?

I just feel a bit like 'what am I starting?` with `start`

I'll take it to a vote though? @dsgriffin @Stending

[2016-06-16 11:52] mattrayner commented on #56
Intact, on reflection, I think I agree with start and stop. I'm thinking ahead to potential future improvements, rather than what's best for now.

I'll happily do `start` and `stop`, this will, however, make this a 3.0.0 change rather than 2.1.0 (`startVuforia` -> `start`) would be a breaking change.

For now should we do `stopVuforia` so it's consistent and open a new issue?

[2016-06-16 12:31] dsgriffin commented on #56
@mattrayner sounds good to me - 3.0 will involve quite a few changes anyway so one more won't hurt.

[2016-06-16 13:01] nleclerc commented on #56
Why not `startScanner` and `stopScanner` ?

[2016-06-16 13:10] mattrayner commented on #56
@nleclerc Oooh, I like `startScan` & `stopScan` 👍

[2016-06-16 13:11] mattrayner commented on #59
I'm working on a PR now to implement this

[2016-06-16 15:48] mattrayner commented on #58
I can confirm, it works as expected.

[2016-06-16 15:48] #58 closed

[2016-06-16 16:23] mattrayner opened #61 "Refactor execute function within VuforiaPlugin.java"
At the moment, the `execute` function within `VuforiaPlugin.java` is HUGE.

The whole thing is driven by a conditional and has some duplicate code.

We should look at overhauling this method to make it less monolithic.

[2016-06-16 16:26] #56 closed

[2016-06-16 16:26] #59 closed

[2016-06-21 10:46] nleclerc opened #65 "Question: what version of the vuforia sdk is used in the plugin ?"
We have seen that there's a problem when the scanner view rotates on ios.
It looks like everything is fine but the actual image is stretched.
It might be a sdk bug (as mentionned in [this forum post](https://developer.vuforia.com/forum/unity-extension-technical-discussion/camera-view-stretched-and-rotation-90-deg-unity-451-and-vuforia-305)) so it would be quite helpful to know what we're working w

[2016-06-21 10:50] nleclerc commented on #65
More on the subject : https://developer.vuforia.com/forum/ios/camera-ratio-retina-devices?sort=2

[2016-06-21 11:06] mattrayner commented on #65
We're using Cordova V4 inside of the plugin as that's what was around when we made it.

The rotation thing is 'known' - we've written some code to detect device rotation and start/stop Vuforia - this is a fix in 90% of scenarios. The issue is to do with how fast a user 'spins' the device. If they quickly got from portrait - horizontal - portrait - horizontal Vuforia gets confused as to what orient

[2016-06-21 11:30] #49 closed

[2016-06-21 16:26] nleclerc commented on #65
What exact version are we talking about ?

BTW, in our tests, we get the rotation pb 100% of the time on retina devices.
On a non retina device it works fine.

[2016-06-21 18:04] mattrayner commented on #65
I'm not sure of the exact dot version I'm afraid :-1:

That's interesting - which device in particular?

[2016-06-22 12:51] nleclerc commented on #65
We're seeing the pb using an ipod touch and an ipad mini 2.
Works fine on an ipad mini 1.

[2016-06-22 15:36] mattrayner opened #66 "Return a plugin result when someone presses the close button"
​
## Expected Behavior
When the user presses the close button, the cordova application should receive some kind of feedback.
​
## Current Behavior
Due to changes in the recent PR #63 when the user presses the close button (initially on Android), they no longer receive any information. If your application waits for a result once its opened the plugin, it will never receive a result and could hang,

[2016-06-23 15:33] #66 closed

[2016-06-25 09:04] assiomatica opened #69 "Frame Targets?"
It's possible to manage Frame Targets? In which way?

Thank You

[2016-06-27 10:01] mattrayner commented on #69
Hi Antonio,
 At the moment, when launching the plugin you specify a local database, along with an array or images you're looking for in this session.

Hope that helps?

[2016-06-27 21:44] mattrayner opened #72 "Update README to include pause/resume documentation"
We should update the README to have comprehensive documentation for pause and resume methods.

Also, we should include options documentation for startVuforia

[2016-06-29 22:53] mattrayner opened #73 "Fix Pause/Resume functionality"
​
## Expected Behavior
When pausing and resuming trackers, the functionality should perform as expected, the trackers should be correctly paused and resumed.

When resuming trackers, use user should be able to scan another image and it should be passed back to Cordova.
​
## Current Behavior
Behaviour across iOS and Android is inconsistent and unreliable.

When resuming trackers, on both Android an

[2016-06-29 22:53] #69 closed

[2016-06-29 22:54] mattrayner commented on #65
@nleclerc, have you had a chance to look into this or thought of a potential solution?

[2016-06-29 22:54] mattrayner commented on #61
Note that #73 may impact this work

[2016-06-30 10:46] mattrayner opened #74 "Starting/stopping trackers never returns a message to the front-end on iOS..."
​
## Expected Behavior
When starting or stopping trackers a success message should be sent back to the user in Cordova.
​
## Current Behavior
When starting/stopping trackers under iOS, a plugin response is never sent back to Cordova.

## Possible Solution
Check to see if it worked, then send an appropriate response.

## Steps to Reproduce (for bugs)
1. Call start/stop trackers
1. See that nothing

[2016-06-30 11:20] #72 closed

[2016-06-30 11:20] #73 closed

[2016-06-30 11:27] mattrayner opened #76 "Fix the camera overlay"
​
## Description
We've got a new overlay, but it doesn't look good... We need to make sure it's flexible and capable of being used in a production environment. At the moment it looks slap-dash and I wouldn't feel comfortable using it on a client project.

## Expected Behaviour
The overlay should look professional, sleek, and above all, it should work well. It should change depending on the options

[2016-06-30 14:38] #74 closed

[2016-06-30 21:56] nleclerc commented on #65
Not really i'm afraid.
We've been busy preparing a special event for this weekend so didn't get much time to spend on this subject. Our current goal is to be able to lock rotation so the problem doesn't occur but this hasn't been easy as pie. Looks like everyone is struggling with UINavigationController orientation.

I'm wondering if it wouldn't be easier to just upgrade to the newer vuforia sdk.

[2016-07-01 07:07] mattrayner opened #79 "We should be able to update the images Vuforia is searching for on the fly"
## Expected Behavior
Once you've launched the Vuforia plugin, we should be able to update the array of images we are searching for, without closing the camera.
​
## Current Behavior
Once you've launched the plugin, that's it... The image you've specified are the ones you are searching for.
​
## Possible Solution
Add the ability to change the list of images you are searching for.

## Context
If you

[2016-07-01 08:49] #61 closed

[2016-07-01 09:08] mattrayner commented on #79
@dsgriffin - should this be in 3 or 3.1?

[2016-07-04 13:34] #76 closed

[2016-07-14 08:48] muhammadsamir11 opened #86 "how can i add video overlay"
how can i add vide overlay in image after recognition

[2016-07-14 10:12] mattrayner commented on #86
Hi,

[2016-07-14 10:14] #86 closed

[2016-07-15 21:33] nleclerc commented on #16
Orientation issues have been resolved in this PR : https://github.com/mattrayner/cordova-plugin-vuforia/pull/84

Behavior now is the vuforia scanner will mimic accept the same orientations as its parent view (ie. the cordova view controller).

[2016-07-15 21:35] nleclerc commented on #65
Ok so we managed to resolve the orientation issue (see https://github.com/mattrayner/cordova-plugin-vuforia/pull/84).

I'm still quite keen on upgrading the SDK to v5 though.

[2016-07-15 21:35] #65 closed

[2016-07-15 21:49] nleclerc commented on #18
Seems like you need to be logged in to download the SDK (i'll never understand why people gate those). So unless we create a dummy account to allow direct download, i believe the magic won't happen :-(

[2016-07-19 12:55] nleclerc commented on #18
I believe we could do a plugin containing only the sdk, that would be easier to manager if they somehow decide to crack down on us and we need a plan b.

[2016-07-21 06:28] vahidreza opened #87 "show an overlayed player on the image"
hi @mattrayner
i have a scenario in which i need to show an overlay video player on the image and allow the user to play/pause the video. I may need some other video controls like turning on flash or focus and so on.
is it possible in phonegap with this plugin?

by the way how can i add my own overlay image watermark to the camera?

[2016-07-25 11:08] mattrayner commented on #87
At the moment, this plugin does not support overlaying video.

This is completely do-able, but it will require some native device-specific code to complete.

The overlay image will also need to be implemented using native code on a per-platform basis

[2016-07-25 11:08] #87 closed

[2016-07-25 11:09] mattrayner commented on #18
that is a good idea @nleclerc - I'll look into this tonight as an option.

[2016-07-25 11:46] #16 closed

[2016-07-25 17:16] mattrayner opened #88 "Cloud recognition"
​
## Expected Behavior
It would be good if we could give the option to use cloud recognition as well as local recognition
​
## Current Behavior
Only allows local recognition
​
## Possible Solution

Updating the view controllers to support cloud recognition

## Context

This feature has been requested multiple times so should be considered

[2016-07-26 10:06] mattrayner opened #89 "Test 3.0.2 funuctionality"
We need to test the new 3.0.2 functionality before releasing a new version of the plugin.

[2016-07-26 10:06] mattrayner commented on #89
@dsgriffin can you do this for me? I'm having issues with the new Xcode beta

[2016-07-27 08:32] mattrayner opened #91 "Updating trackers dynamically has been broken"
​
## Expected Behavior
The user should be able to update the list of images they are looking for dynamically.
​
## Current Behavior
 With the recent commits this functionality has been broken, the list of images is not updated as expected.
​
## Possible Solution
Re-implement the code modified by #84 and @Stending - should review our merging criteria too - this code should not have been merged.
​
#

[2016-07-27 13:01] mattrayner commented on #89
I've discovered one issue - see #91

[2016-07-28 07:51] mattrayner commented on #91
Correction - this was caused by #81 and @dsgriffin

I will reinstate the removed method and open a PR

[2016-07-28 13:05] #91 closed

[2016-07-28 13:15] #89 closed

[2016-07-29 08:49] elenaaralla opened #94 "error building for IOS platform with cordova cli"
​
Hi,
I'm having problem building a sample project with vuforia plugin, for IOS;
this is the error:

========
... libVuforia.a, missing required architecture i386

** BUILD FAILED **

The following build commands failed:
	Ld build/emulator/Hello\ World.app/Hello\ World normal i386
========

I've installed the Phonegap sample app (HelloWorld) with this comand:

`phonegap create myApp
`
I've added p

[2016-07-29 09:13] mattrayner commented on #94
Hi @elenaaralla - this is actually expected :-1:

Because of the use of the Vuforia library, you can't complete the build using the command line.

Basically what happens when you build from the commandline, or for any of the simulators in Xcode, the compiler tries to build the project to be run on the 'target' architecture. Your machine's architecture is `i386`, however an actual device's architec

[2016-07-29 09:14] mattrayner commented on #94
In the README, under Requirements, we have the following:

[2016-07-29 09:39] elenaaralla commented on #94
Hi,

thank you; I missed the NOTE under requirement :-)
I'll try with attached device and let you know.
Thanks again,
bye, elena.

[2016-07-29 14:01] elenaaralla commented on #94
Hi,

I was able to build my sample app on device, using XCode.
Thank you very much, elena.

[2016-07-29 14:01] #94 closed

[2016-07-29 15:00] mattrayner commented on #94
Glad you got it working :smile:

[2016-07-30 17:02] manuelprojects commented on #88
my Java and c# skills are ridiculous...it would be amazing have this feature implemented....

[2016-08-02 10:13] mattrayner commented on #18
I've began extracting the SDK out - it can be found here:

[2016-08-02 14:04] mattrayner commented on #18
This is now addressed in #95

[2016-08-02 14:04] #18 closed

[2016-08-03 08:17] mattrayner opened #96 "Update Vuforia support to 5.5"
​
## Expected Behavior

The plugin should use Vuforia 5.5
​
## Current Behavior

The plugin uses 4.something
​
## Possible Solution

Implement 5.5 API support

## Context

In order to robustly support #88 (cloud recognition), we need to update to the most recent Vuforia API

[2016-08-03 16:18] mattrayner commented on #88
As part of this work, we're updating the plugin's base Vuforia SDK to 5.5 - see #97

[2016-08-04 13:39] #96 closed

[2016-08-04 13:41] mattrayner opened #98 "Tidy up the code base after upgrade to 5.5.9"
This is just a task really - with the change to 5.5.9 we implemented some less-than-perfect code changes which we should look through and tidy as appropriate.

[2016-09-07 13:53] nleclerc opened #101 "Tested plugin with SDK v6 and it works"
Just for info :-D

[2016-09-20 05:38] ryanchanplc opened #102 "Memory Leak in iOS"
hi ,

i use this plugin with cordova-vuforia-example in ionic framework.

https://github.com/dsgriffin/cordova-vuforia-example

when i stop and restart vuforia in the ionic, the memory allocated is keep increasing , there might be a memory leak. Please help.

Thanks

[2016-09-21 12:50] AppwareDev opened #103 "Google Play will block the update and publication of Android apps that use vulnerable versions of libpng"
From Vuforia:

Effective September 17, 2016, Google Play will block the update and publication of Android apps that use vulnerable versions of libpng, a software library that enables the loading/saving of PNG images. Even though Vuforia does not expose this vulnerability with its use of libpng, an update to your app will still be required. More details on the libpng vulnerability are available at

[2016-09-21 15:42] mattrayner commented on #103
Thanks for letting me know, I'll be sure to update to 6.0 ASAP

[2016-09-21 15:43] mattrayner commented on #102
Hi Ryan,
 Do you have some sample code you can show me?

[2016-09-21 15:44] mattrayner commented on #101
I'll be doing a migration really soon :)

[2016-09-22 01:13] ryanchanplc commented on #102
Hi Matt

I didnt add any native codes.I just create a new ionic project , and add this plugin.
Simply I created a button to trigger startVuforia in index.html according to your guide.

However , i think the leak may original coming from vuforia itself. Because i found that vuforia's official native iOS sample has memory leak by tracing inside **Instrument**.

[2016-09-22 02:29] ryanchanplc commented on #102
The dealloc in both ImageTargetsViewController and ImageTargetsEAGLView are not called.

After adding `self.imageRecViewController=nil;` inside **VP_closeView** in VuforiaPlugin.m may help.

[code]

[2016-10-10 14:15] danyarzeta opened #104 "Display html after image recognition"
​
## Expected Behavior
Is there any way to display an html on the image when it is recognized?

​
## Current Behavior
Every time vuforia recognized an image it gets closed. I don't need that the camera gets closed, i want it to display an html even when the camera is on, with out closing vuforia.

​
## Possible Solution
Instead of displaying a media sound, i want to display an html.

​
## Context

[2016-10-11 09:03] dsgriffin commented on #104
Check out the `autostopOnImageFound` option mentioned in the README if you'd like to keep the camera open upon recognition.

The answer to this is the same as #86 and #87 I believe - that you'll need to write some native device-specific code yourself as this is very customised behaviour and not in the scope of this plugin.

[2016-10-11 11:30] #104 closed

[2016-10-11 17:54] mattrayner commented on #101
I'm planning on reading the EULA for this over the next couple of days - I want to make sure we don't fall foul of anything in there

[2016-10-11 17:58] mattrayner commented on #101
@dsgriffin think you could try to update the SDK to 6.0 whilst I read through this? #103 means we don't really have a choice with the upgrade anyways

[2016-10-11 18:00] mattrayner commented on #103
As per #101 we're beginning the upgrade now

[2016-10-11 18:00] #103 closed

[2016-10-11 18:01] mattrayner commented on #102
I'll take a look into this over the next few days and get a fix implemented and in place

[2016-10-11 18:02] mattrayner commented on #98
No longer needed as upgrading to 6.*

[2016-10-11 18:02] #98 closed

[2016-10-11 18:03] mattrayner commented on #88
The plugin has been upgraded to 5.5 and will soon be updated to 6.0. Once this has happened we will look at implementing cloud rec.

#101

[2016-10-12 13:14] danyarzeta opened #105 "Camera problems IOS10"
​When I start Vuforia on ios10, it doesn't open the camera. I already have the plugin updated with the las archives of October 11th 2016. Do I need to install the camera plugin?, I installed it, even with the new permissions in ios10 to open the camera.
Could you please help me?
Thank you.

​
## Your Environment

* Cordova version used: 6.3.1
* Plugin version used: 3.2.0
* Plaforms affected: iOS
*

[2016-10-15 17:07] dsgriffin commented on #101
The SDK has now been updated to v6.0.117, just need it pushed to npm and then we can update the dependencies of this package and push it live

[2016-10-15 17:21] dsgriffin commented on #105
Have you checked out [cordova-vuforia-example](https://github.com/dsgriffin/cordova-vuforia-example)? I'm unable to recreate your issue and will need a little more info (maybe your config.xml or some screenshots/error logs)

[2016-10-17 08:07] mattrayner commented on #102
Hi @ryanchanplc, I've added the line you suggested in, but it doesn't look to have changed much - I think the cause of this issue may be within the Vuforia library - in my testing it looks like the base memory amount does increase with every launch, but in our example app it doesn't seem to be a huge jump. Hopefully any underlying issues will be ironed out in the next few releases of Vuforia and w

[2016-10-17 08:07] #102 closed

[2016-10-17 08:19] mattrayner commented on #101
3.2.1 has now been released - I'm just waiting for #106 to be merged into master

[2016-10-17 08:19] #101 closed

[2016-10-17 19:55] mattrayner opened #107 "New SDK causes rotation bug in iOS"
​
## Expected Behavior

When you rotate the phone, the app should display as expected.

Previously, when you rotated the phone VuforiaPlugin would stop and restart at the new orientation. Now, the camera can stay open (yay) and all we need to do is change the UI positioning and rotation
​
## Steps to Reproduce (for bugs)

1. Open the example app with the new plugin
2. Open the Vuforia activity
3.

[2016-10-19 14:45] OrbitalStudios opened #108 "iOS 10 Crashing"
## Steps to Reproduce (for bugs)

1 Open app
2 Scan photo
## Context

Tried to use example code/app, but it always crashes on an iOS 10 device. When Googling words found in the call stack, others have said that this is due to a lack of the NSCameraUsageDescription property in the Info.plist (https://github.com/eface2face/cordova-plugin-iosrtc/issues/208), but adding the property seems to have no e

[2016-10-19 19:44] #108 closed, assigned to nobody

[2016-10-19 19:44] OrbitalStudios commented on #108
This ended up being the result of another library.

[2016-10-24 08:41] mattrayner commented on #107
@dsgriffin are you getting this same bug? I'm on the 10.x developer beta track - wanted to make sure this wasn't currently happening on the main release branch?

[2016-10-24 08:41] mattrayner commented on #107
At the moment my tests have it crashing on rotation?

[2016-11-16 17:11] Flikker opened #109 "Adding tracking data (pose) to the plugin to allow 3d models to track to the Vuforia target"
​
## Expected Behavior

Having read issues #86 and #87 (similar questions but not exactly the same), this may not be possible, but it would be great to extend the plugin to be able to use tracking info (pose) rather than just registering when a target has been detected, so that I could enable three.js to add 3d models over images and Vumarks.
Although elements such as adding transparent webviews (

[2016-11-29 08:27] baquy96 opened #110 "Play video on target image"
Hi mattrayner,
I want to play video on image target when camera found it.
It's easy to do with Unity.
But I don't know how to do it on Cordova.

[2016-11-29 17:36] mattrayner commented on #109
Hi Flikker,
 Thanks very much for taking the time to create this issue :) unfortunately this isn't possible with the current plugin - how it works at the moment is:

- Cordova triggers the plugin
- A new ViewController is created and launched
  - This view controller uses the native Vuforia SDK to monitor for targets
  - The user find a target, or triggers a close
- The ViewController returns an o

[2016-11-29 17:36] #109 closed, assigned to nobody

[2017-01-18 23:33] mattrayner commented on #110
Hi @baquy96,
 Sorry for the delay in replying, your issue slipped through my net!

The issue with playing a video within the camera view is that my version has largely been created to cater for image recognition only. Adding video playback would need to be done per-device and is out of scope of the current plugin.

If this is something you're interested in working on, I'd love to offer you any hel

[2017-01-18 23:33] #110 closed, assigned to nobody

[2017-01-21 19:15] Stefano1964 commented on #88
Hi Matt, any news on Cloud Reco?

[2017-02-02 00:54] linuxs opened #111 "Problem building in production"
​
## Expected Behavior
Successful build on Xcode with plugin installed in project.
​
## Current Behavior

Building with Ionic produces an error with Xcode and will not compile.
​
## Possible Solution

​
## Steps to Reproduce (for bugs)

1. Integrate in Ionic project
2. Build with Ionic build ios

## Context

I am unable to use the plugin due to these compile errors.
​
## Your Environment

* Cordov

[2017-03-02 20:50] linuxs commented on #111
Resolved this. Basically you cant build for a simulator.

[2017-03-06 09:34] bishen opened #112 "How to use 3d model"
How to use 3d model?

[2017-03-06 12:21] dsgriffin commented on #111
@linuxs Apologies for the lack of reply. Glad you resolved your issue

[2017-03-06 12:21] #111 closed, assigned to nobody

[2017-03-13 08:47] mattrayner commented on #112
Hi Bishen,
 Unfortunately, this plugin currently uses Vuforia just to recognise images. Adding 3D models would require additional Objective-C and Java code to be written

[2017-03-13 08:47] #112 closed, assigned to nobody

[2017-03-19 19:08] mattrayner commented on #88
@Stefano1964 - sorry I took some time out - had a baby :+1: - I'll start looking back into this

[2017-05-18 12:09] AgNm opened #113 "Vuforia for cordova app"
​
## Expected Behavior
I have created a sample cordova app. I have also created a sample android app. In Android, I can see below image: http://1.bp.blogspot.com/-ucDjcZHfrpE/T0EpVv7nwqI/AAAAAAAAA84/nYa7KzZJj34/s1600/desireRA.jpg

But it is not working same for cordova app.

How I can make it work for cordova app same as native android app?
​
## Your Environment
* Cordova version used: 6.5.0
* Plu

[2017-05-18 12:22] mattrayner commented on #113
Hi AnG,
 The android screen shot you've include - is that using the plugin or the native Vuforia samples?

[2017-05-18 12:33] AgNm commented on #113
Hi @mattrayner,

It is using native Vuforia samples. But I want to do same in Cordova Apps.

[2017-05-22 07:02] AgNm commented on #113
@mattrayner Can you please suggest on this, how I can proceed to make it work same as native.

[2017-05-23 08:55] mattrayner commented on #113
Hi AnG,
 At the moment this plugin uses Vuforia for image recognition only. Going forward I may investigate using it for augmented reality but this is currently out of scope.

Thanks,
Matt

[2017-05-23 08:55] #113 closed, assigned to nobody

[2017-05-31 11:14] AgNm commented on #113
@mattrayner Thanks, I'm waiting for same.

[2017-06-24 12:18] voxelshaper commented on #107
Hello did this issue was solved?

[2017-06-24 12:19] voxelshaper commented on #88
Hello was there any updates on this?

[2017-07-21 09:25] theBliz opened #114 "method hasPermission(String) missing"
I'm testing cordova-plugin-vuforia and when I'm building the app (android) the build fails because the method hasPermission(String) is missing.

I find out here https://github.com/NeoLSN/cordova-plugin-android-permissions that this method is deprecated, how can I update it?

[2017-08-28 05:56] AjitPrajapati opened #115 "Camera getting stop once we recognise the image"
Hello,

We have created and defined our custom targets , we are able to recognise image using source you have provided.
we are starting vuforia plugin using VuforiaPlugin.startVuforia method , after recognising image it automatically close the camera preview in android device which we want to keep open even after recognising image and want to display video/animation as an overlay .

Can you please

[2017-10-27 18:15] fariskas opened #116 "Add custom text and image overlay on the camera view"
Hi, not a bug but rather a question.

Currently in the camera view, i see that there is a  'overlayMessage' which is editable and the vuforia logo.

How can i add my own images and own text with custom positioning to the camera view?
I'm looking to add an everpresent grid / guides overlay.

Currently using it only for IOS with cordova. Thanks

[2017-10-27 18:23] mattrayner commented on #116
Hi @fariskas, at the moment you'd need to modify the code inside of the plugin's view controller to achieve what you're asking

It should be pretty simple though! 👍

[2017-10-27 18:23] #116 closed, assigned to nobody

[2017-10-27 18:24] fariskas commented on #116
thanks for the quick reply. could you point me to the files you were referring to perhaps?

[2017-10-28 08:28] fariskas commented on #115
i am looking to do the same thing too. and i found `autostopOnImageFound` mentioned here:
https://github.com/mattrayner/cordova-plugin-vuforia/issues/104#issuecomment-252853799

But havent tried it yet.

[2017-12-04 15:59] netico14 opened #117 "Accion after recognize"
Good afternoon, I have a question, how can you get a video or a 3D model when scanning an image? without leaving the background of the camera, I find no examples, thank you very much for your help

[2018-10-28 19:23] IsiHund opened #118 "Plugin does not work in Ionic 3"
I am trying to use this plugin in my ionic 3 application.
In Typescript this line navigator.VuforiaPlugin does not work.
I do not know how I have to change this line.

Is there a way to use this plugin in ionic 3?

[2019-01-09 13:41] Missile71 commented on #118
declare var navigator: any;    <-------

@IonicPage()
@Component({

[2019-01-11 16:52] yossenj commented on #88
Hi, is there any news about this ?

[2019-07-10 06:14] chkatz opened #119 "Android 64bit support"
By August 1, 2019, 64 bit support is required for android apps. Are there any plans for updating the vuforia sdk to the latest version with 64 bit support?

[2019-07-10 13:15] mattrayner commented on #119
Hi @chkatz, I've not got any immediate concrete plans - the process of upgrading the SDK is quite onerous and it is my understanding the at the 'classic' license model that this plugin supports is no longer offered.

It's a shame but at the moment I'm not in a position to consistently support the library - any efforts on my part will be ad-hoc.

I'd be more than happy to accept a PR though if you,